body {
  background-color: rgba(12,170,220,0.8);
  background-image: url("https://s6.postimg.org/x3wsp6xq9/bg_default.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.jumbo {
  background-color: rgba(12,170,220,0.8);
  margin-top: 50px;
  padding-top: 10px;
  box-shadow: 5px 5px 10px;
}
.jumbo .jumbo__title {
  color: #fff;
  font-family: 'Lobster', cursive;
  text-align: center;
}
.weather {
  display: none;
}
.myFooter {
  background-color: rgba(0,0,0,0.8);
  bottom: 0;
  left: 0;
  line-height: 50px;
  padding: 0 20px;
  position: absolute;
  width: 100%;
}
.myFooter .myFooter__text {
  color: #fff;
  font-weight: bold;
  text-align: center;
}
