.total-height {
  height: 100%;
}
body {
  background-color: rgba(12,170,220,0.8);
  background-image: url("https://s6.postimg.org/x3wsp6xq9/bg_default.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.jumbo {
  background-color: rgba(12,170,220,0.8);
  box-shadow: 5px 5px 10px;
  margin-bottom: 100px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  width: 60%;
}
@media screen and (max-width: 480px) {
  .jumbo {
    width: 90%;
  }
}
.jumbo .jumbo__title {
  color: #feffea;
  font-family: 'Lobster', cursive;
  font-size: 70px;
  text-align: center;
}
.jumbo .jumbo__wrap {
  text-align: center;
}
.jumbo .jumbo__group {
  margin: 0 auto;
  text-align: center;
  width: inherit;
  display: inline-block;
}
.jumbo .jumbo__button {
  background-color: #e6af2e;
  color: #feffea;
  margin-top: 30px;
}
.weather {
  color: #feffea;
  display: none;
  margin-top: 20px;
  text-align: center;
}
.weather .weather__span {
  margin-left: 10px;
}
.weather .weather__span:hover {
  cursor: pointer;
}
.temperature #temperature__icon {
  width: 200;
  height: 200;
}
.temperature .temperature__val {
  font-size: 50px;
}
.myFooter {
  background-color: #331832;
  bottom: 0;
  left: 0;
  padding: 15px 15px;
  width: 100%;
}
.myFooter .myFooter__text {
  color: #feffea;
  text-align: center;
  margin: 0 auto;
}
