$opacity = 0.8

$bg-color = rgba(12, 170, 220, $opacity)
$button-color = #e6af2e
$font-color = #feffea
$footer-color = #331832

$img-sunny = url("https://s6.postimg.org/442e97f41/bg_sunny.jpg")
$img-snowy = url("https://s6.postimg.org/82zls13r5/bg_snowy.jpg")
$img-rainy = url("https://s6.postimg.org/s6j842vr5/bg_rainy.jpg")
$img-clear = url("https://s6.postimg.org/fcl6aqibl/bg_clear.jpg")
$img-default = url("https://s6.postimg.org/x3wsp6xq9/bg_default.jpg")


body {
    background-color: $bg-color
    background-image: $img-default
    background-size: cover
    background-repeat: no-repeat
}

.jumbo {
    background-color: $bg-color
    margin-top: 50px
    padding-top: 10px
    box-shadow: 5px 5px 10px

    .jumbo__title {
        color: $font-color
        font-family: 'Lobster', cursive
        text-align: center
    }

    .jumbo__wrap {
        text-align: center
    }

    .jumbo__group {
        margin: 0 auto
        text-align: center
        width: inherit
        display: inline-block
    }

    .jumbo__button {
        background-color: $button-color
        color: $font-color
        margin-top: 50px
    }
}

.weather {
    color: $font-color
    display: none
    margin-top: 50px
}


.myFooter {
    background-color: $footer-color
    bottom: 0
    left: 0
    line-height: 50px
    padding: 0 20px
    position: absolute
    width: 100%

    .myFooter__text {
        color: $font-color
        font-weight: bold
        text-align: center
    }
}