$opacity = 0.8

$bg-color = rgba(12, 170, 220, $opacity)
$button-color = #e6af2e
$font-color = #feffea
$footer-color = #331832

$img-default = url("https://s6.postimg.org/x3wsp6xq9/bg_default.jpg")

.total-height {
    height: 100%
}

body {
    background-color: $bg-color
    background-image: $img-default
    background-size: cover
    background-repeat: no-repeat
    background-position: center center
}

.jumbo {
    background-color: $bg-color
    box-shadow: 5px 5px 10px
    margin-bottom: 100px
    margin-top: 50px
    margin-left: auto
    margin-right: auto
    padding-top: 10px
    width: 60%

    @media screen and (max-width: 480px) {
        width: 90%
    }

    .jumbo__title {
        color: $font-color
        font-family: 'Lobster', cursive
        text-align: center
    }

    .jumbo__wrap {
        text-align: center
    }

    .jumbo__group {
        margin: 0 auto
        text-align: center
        width: inherit
        display: inline-block
    }

    .jumbo__button {
        background-color: $button-color
        color: $font-color
        margin-top: 50px
    }
}

.weather {
    color: $font-color
    display: none
    margin-top: 20px
    text-align: center
}

.temperature {
    #temperature__icon {
        width: 200
        height: 200
    }

    .temperature__val {
        font-size: 50px
    }
}

.myFooter {
    background-color: $footer-color
    bottom: 0
    left: 0
    width: 100%

    .myFooter__text {
        color: $font-color
        font-weight: bold
        text-align: center
    }
}