body {
  background-color: rgba(12,170,220,0.8);
  background-image: url("https://s6.postimg.org/x3wsp6xq9/bg_default.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.jumbo {
  background-color: rgba(12,170,220,0.8);
  margin-top: 50px;
  padding-top: 10px;
  box-shadow: 5px 5px 10px;
}
.jumbo .jumbo__title {
  color: #feffea;
  font-family: 'Lobster', cursive;
  text-align: center;
}
.jumbo .jumbo__wrap {
  text-align: center;
}
.jumbo .jumbo__group {
  margin: 0 auto;
  text-align: center;
  width: inherit;
  display: inline-block;
}
.jumbo .jumbo__button {
  background-color: #e6af2e;
  color: #feffea;
  margin-top: 50px;
}
.weather {
  color: #feffea;
  display: none;
  margin-top: 50px;
}
.myFooter {
  background-color: #331832;
  bottom: 0;
  left: 0;
  line-height: 50px;
  padding: 0 20px;
  position: absolute;
  width: 100%;
}
.myFooter .myFooter__text {
  color: #feffea;
  font-weight: bold;
  text-align: center;
}
